<h1 class="page-header text-center">Detalhes da tarefa: <strong> {{ task?.title }} </strong> </h1>

<form [formGroup]="form" (ngSubmit)="update()">
  <div class="row">
    <div 
      class="form-group col-md-6 has-feedback"
      [ngClass]="formUtils.fieldClassForErrorOrSuccess('title')"
    >
      <label for="title" class="control-label">Título</label>
      <input id="title" type="text" name="title" class="form-control" formControlName="title">

      <span
        class="glyphicon form-control-feedback"
        [ngClass]="formUtils.iconClassForErrorOrSuccess('title')"
      ></span>

      <div class="text-danger" *ngIf="formUtils.showFieldError('title')">
        <div *ngIf="form.get('title').errors.required"><strong>Título</strong> é obrigatório</div>
        <div *ngIf="form.get('title').errors.minlength"><strong>Título</strong> deve ter no mínimo 2 caracteres</div>
        <div *ngIf="form.get('title').errors.maxlength"><strong>Título</strong> deve ter no máximo 255 caracteres</div>
      </div>
    </div>

    <div 
      class="form-group col-md-3 has-feedback"
      [ngClass]="formUtils.fieldClassForErrorOrSuccess('deadline')"
    >
      <label for="deadline" class="control-label">Prazo de entrega</label>
      <input id="deadline" type="text" name="deadline" class="form-control" formControlName="deadline">

      <span
        class="glyphicon form-control-feedback"
        [ngClass]="formUtils.iconClassForErrorOrSuccess('deadline')"
        style="margin-right: 20px"
      ></span>

      <div class="text-danger" *ngIf="formUtils.showFieldError('deadline')">
        <div *ngIf="form.get('deadline').errors.required"><strong>Prazo de entrega</strong> é obrigatório</div>
      </div>
    </div>

    <div
      class="form-group col-md-3 has-feedback"
      [ngClass]="formUtils.fieldClassForErrorOrSuccess('done')"
    >
      <label for="done" class="control-label">Situação</label>
      <select 
        id="done"
        class="form-control"
        formControlName="done"
      >
        <option *ngFor="let option of doneOptions" [value]="option.value">{{ option.text }}</option>
      </select>

      <span
        class="glyphicon form-control-feedback"
        [ngClass]="formUtils.iconClassForErrorOrSuccess('done')"
        style="margin-right: 30px"
      ></span>

      <div class="text-danger" *ngIf="formUtils.showFieldError('done')">
        <div *ngIf="form.get('done').errors.required"><strong>Situação</strong> é obrigatória</div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="form-group col-md-12">
        <label for="description" class="control-label">Descrição</label>
        <textarea name="description" id="description" class="form-control" rows="4" formControlName="description"></textarea>
      </div>
  </div>

  <div class="form-group text-center">
    <div>
      <button type="submit" class="btn btn-success" [disabled]="form.invalid">Atualizar</button>
      <button type="button" class="btn btn-default" (click)="goBack()">Voltar</button>
    </div>
  </div>

  <pre>{{ form.value | json }}</pre>
</form>