<h1 class="text-center page-header">Lista de tarefas</h1>

<div class="well">
  <div class="row">
    <div class="col-md-10">
      <input type="text" class="form-control" placeholder="Digite o título da tarefa" [(ngModel)]="newTask.title" />
    </div>
    <div class="col-md-2">
      <button class="btn btn-success" (click)="create()">Adicionar</button>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Título</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.id }}</td>
      <td>{{ task.title }}</td>
      <td>
        <a [routerLink]="['/tasks', task.id]" class="btn btn-info">
          Detalhes
        </a>
        <button class="btn btn-danger">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>