<h2>Estudando bindings</h2>

<button (click)="onClick()">Evento (click) {{mouseClickCounter}}</button>
<button on-click="onClick()">Evento on-click {{mouseClickCounter}}</button>
<input type="text" [value]="mouseClickCounter" />

<br/>
<br/>

<button (mouseover)="onMouseOver()">Evento (mouseover) {{mouseOverCounter}}</button>
<button on-mouseover="onMouseOver()">Evento on-mouseover {{mouseOverCounter}}</button>

<br />
<br />

<input type="text" placeholder="Please KeyDown..." [value]="username" /> <strong>Nome: </strong> {{ username }}
<br>
<input type="text" placeholder="KeyDown ngModel..." [(ngModel)]="username" /> <strong>Nome: </strong> {{ username }}

<br />
<br />

<input [class.mycolor]="mouseClickCounter >= 3" type="text" (keyup)="onKeyUp($event)" placeholder="KeyUp com 2 way data binding" [(ngModel)]="email" /> <strong>Email: </strong> {{ email }}
<br>
<input [class.mycolor]="mouseClickCounter >= 3" type="text" (keyup)="onKeyUp($event)" placeholder="KeyUp apenas com property binding" [value]="email" /> <strong>Email: </strong> {{ email }}


<style>
  .mycolor {
    color: blue;
  }
</style>
